<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeysine.services.adminauth.mapper.RoleMapper">

    <insert id="save">
        INSERT INTO
        pri_role(id, name, code, active, create_date, create_by)
        VALUES
        (#{id}, #{name}, #{code}, #{active}, #{createTime}, #{createBy})
    </insert>

    <sql id="select_field">
        SELECT r.id, r.code, r.name, r.active, r.create_date, r.create_by
    </sql>
    <sql id="sql_where">
        <where>
            <if test="id != null and id != ''">
                AND r.id = #{id}
            </if>
            <if test="name != null and name != ''">
                AND r.name LIKE '%${name}%'
            </if>
            <if test="code != null and code != ''">
                AND r.code = #{code}
            </if>
        </where>
    </sql>

    <sql id="from_table">
        FROM pri_role r
    </sql>
    <select id="findByCondition" resultType="RoleM">
        <include refid="select_field" />
        <include refid="from_table" />
        <include refid="sql_where" />
        ORDER BY r.create_date DESC
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(id)
        <include refid="from_table" />
        <include refid="sql_where" />
        ORDER BY r.create_date DESC
    </select>

    <select id="findOneByCondition" resultType="RoleM">
        <include refid="select_field" />
        <include refid="from_table" />
        <include refid="sql_where" />
        LIMIT 1
    </select>
</mapper>